[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BoundIRT"]
	path = BoundIRT
	url = https://github.com/cran/BoundIRT
[submodule "LSMjml"]
	path = LSMjml
	url = https://github.com/cran/LSMjml
[submodule "diffIRT"]
	path = diffIRT
	url = https://github.com/cran/diffIRT
